

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "arial",;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eff2f1;
    background-image: url('https://t4.ftcdn.net/jpg/01/92/12/05/360_F_192120588_fk5XCWsYn2Fz5fWxZ8f5wYRFfq1J7Erd.jpg');
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  .container {
    width: 30vw;
    padding: 10px;
    
  }
  
  .login-box {
     height: fit-content;
     background-color: #eff2f1;
    padding: 30px;
    border-radius: 40px;
    box-shadow: 0 0 50px rgba(246, 40, 40, 0.1);
  }
  
  .login-box h2 {
      
    margin: 0 0 20px;
    padding: 20px;
    color: #2b2020;
    text-align: center;
    text-transform: uppercase;
  }
  
  .user-box {
    position: relative;
    margin-bottom: 30px;
  }
  
  .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
    border: none;
    border-bottom: 3px solid #161719;
    outline: none;
    background: transparent;
  }
  
  p{
      text-align: right;
      font-family:"arial",;
      margin-top: -40px;
      margin-bottom: 30px;
      font-weight: 600;
  }
  #forgot-pass
  {
    text-decoration: none;
    color: #151515;
  }
  .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    color: #333;
    pointer-events: none;
    transition: 0.4s;
  }
  
  .user-box input:focus ~ label,
  .user-box input:valid ~ label {
    transform: translateY(-20px);
    font-size: 20px;
    color: #333;
  }
  
  .button a{
    display: inline-block;
    margin-top: 15px;
    background-color: #c6e2e3;
    color: #151515;
    padding: 10px 20px;
    font-size: 16px;
    
    text-decoration: none;
    
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 2px;
    border-radius: 20px;
  }
  
  .button {
    justify-content: center; 
    text-align: center;

    display: grid;
    
  }
 .button a{
    font-weight: 500;
    text-align: center;
    justify-content: center;
    /* margin-left: 200px; */
  }
  span {
    position: relative;
    background: none;
  }
  span label{
   justify-content: center;
   text-align: center;
   top: 100px;
  }
  .otherlogin a:hover {
    color: #333;

  }
  

  .signup
  {
justify-content: center;
text-align: center;

  }
  .signup a:hover{
    color:blue;
  }
  div span a{
    text-decoration: none;
    color: #151515;
    text-align: center;
  }

  .otherlogin{
    text-align: center;
  }
  .font-awesome
  {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
  }
  .font-awesome a
  {
    color: #151515;
  }
  .password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .password-toggle-icon i {
    font-size: 18px;
    line-height: 2;
    color: #333;
    transition: color 0.3s ease-in-out;
    margin-bottom: 20px;
  }
  
  .password-toggle-icon i:hover {
  color:#333;
  }

